<style>
        .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .line{
        padding-left: 30px;
        position: relative;
    }
    .line:before{
        content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 7px;
    border-radius: 20px;
    background-color: #F22D1B;
    }
</style>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>twoShops'ı Tanıyın !</h1>
            </div>

                <div class="col-lg-4">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450" height="450" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">450*450</text></svg>
                </div>
                <div class="col-lg-8 text-left">
                    <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id est deserunt corrupti praesentium? Est nulla earum corrupti beatae sint sapiente explicabo. Cupiditate aperiam officia temporibus, eaque incidunt possimus assumenda. Ratione sapiente ducimus sit dolore! Accusantium fugit iusto magnam voluptatibus impedit repellat inventore nemo natus deleniti dolorem eum, temporibus voluptas magni!</p>
                </div>
                <div class="container w-50">
                    <div class="line"> 
                        <div class="col text-left">
                            <div class="position-absolute" style="width:20px; height:20px; box-shadow:0px 0px 0px 3px #fff; left:-36.4px; top:10px; border-radius: 50%; float: left; background:#F22D1B;"></div>
                            <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id est deserunt corrupti praesentium? Est nulla earum corrupti beatae sint sapiente explicabo. Cupiditate aperiam officia temporibus, eaque incidunt possimus assumenda. Ratione sapiente ducimus sit dolore! Accusantium fugit iusto magnam voluptatibus impedit repellat inventore nemo natus deleniti dolorem eum, temporibus voluptas magni!</p>
                        </div>
                        <div class="col text-left">
                            <div class="position-absolute" style="width:20px; height:20px; box-shadow:0px 0px 0px 3px #fff; left:-36.4px; top:10px; border-radius: 50%; float: left; background:#F22D1B;"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium consectetur, itaque modi quos dolores nam ratione maxime quibusdam voluptatibus quam reprehenderit natus corrupti voluptatem laborum!</p>
                        </div>
                        <div class="col text-left">
                            <div class="position-absolute" style="width:20px; height:20px; box-shadow:0px 0px 0px 3px #fff; left:-36.4px; top:10px; border-radius: 50%; float: left; background:#F22D1B;"></div>
                            <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi ducimus ipsam perferendis cupiditate ullam harum?</p>
                        </div>
                    </div>
                </div>
       
           
                <div class="row mt-5 w-100">
                    <div class="col-xl-4 text-center border-right">
                        <h4>Misyonumuz</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quidem ducimus natus eos qui minus.</p>
                    </div>
                    <div class="col-xl-4 text-center  border-right">
                      <h4>Vizyonumuz</h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quidem ducimus natus eos qui minus.</p>
                  </div>
                  <div class="col-xl-4 text-center ">
                    <h4>Amacımız ve Hedeflerimiz</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quidem ducimus natus eos qui minus.</p>
                </div>
            </div>
    </div>
    </div>
</div>
    <!-- How-->
    <include src="/application/views/how.html"></include>
<!-- How End-->
<!--Yotube-->
<div class= "container p-0 mt-3">
    <h3 class="text-center">TANITIM FİLMİMİZİ DAHA İZLEMEDİNİZ Mİ ?</h3>
    <iframe width="100%" height="500" src="https://www.youtube.com/embed/SZzq95vPWVc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!--Yotube End-->
</section>
<script src="https://unpkg.com/htmlincludejs"></script>