<div class="container">
    <div class="row">
        <ul class="d-flex justify-content-center visiblity">
            <div style="display: flex; align-items:center;">
                <li class="list-group-item listİtem_how border-2 btn" style="margin-right:20px;">
                    <a class="listİtem_howLink text-decoration-none" href="/application/views/site/nasiluyeolurum.html">
                        <img class="img-fluid" src="/assets/img/person-check.svg" width="21px" height="21px">
                        Nasıl Üye Olurum ?</a>
                </li>

                <li class="list-group-item listİtem_how border-2 btn" style="margin-right:20px;">
                    <a class="listİtem_howLink text-decoration-none" href="/application/views/site/nasilsiparisveririm.html">
                        <img class="img-fluid" src="/assets/img/basket.svg" width="21px" height="21px" />
                        Nasıl Sipariş Veririm ?</a>
                </li>
                <li class="list-group-item listİtem_how border-2 btn" style="margin-right:20px;">
                    <a class="listİtem_howLink text-decoration-none"
                        href="/application/views/site/nasilsiparisveririm.html/#odemeyontemleri">
                        <img class="img-fluid" src="/assets/img/credit-card-2-front.svg" width="21px" height="21px;" />
                        Ödeme Yöntemleri</a>
                </li>
            </div>
        </ul> 
    </div>
    <div class="col-sm-12 w-100  visiblityPhone">
        <li class="list-group-item listİtem_how border-2 btn" style="margin-right:20px;">
            <a class="listİtem_howLink text-decoration-none"href="/application/views/site/nasiluyeolurum.html">
                <img class="img-fluid" src="/assets/img/person-check.svg" width="21px" height="21px" alt="" />
                Nasıl Üye Olurum ?</a>
        </li>
    </div>
    <div class="col-sm-12 w-100  visiblityPhone">
        <li class="list-group-item listİtem_how border-2 btn" style="margin-right:20px;">
            <a  class="listİtem_howLink text-decoration-none"href="/application/views/site/nasilsiparisveririm.html">
                <img class="img-fluid" src="/assets/img/basket.svg" width="21px" height="21px" alt="" />
                Nasıl Sipariş Veririm ?</a>
        </li>
    </div>
    <div class="col-sm-12 w-100  visiblityPhone">
        <li class="list-group-item listİtem_how border-2 btn" style="margin-right:20px;">
            <a  class="listİtem_howLink text-decoration-none"href="/application/views/site/nasilsiparisveririm.html">
                <img class="img-fluid" src="/assets/img/credit-card-2-front.svg" width="21px" height="21px" alt="" />
                Ödeme Yöntemleri</a>
        </li>
    </div>
    </div>
</div>