<style>


</style>
<div class="container  p-0 visiblity ">
    <div class="row">
        <div class="col-12 ">
            <img class="ing-fluid center " src="/assets/img/icons8-whatsapp.svg" width="50px">
            <p class="text-center whatsappText" style="color:#25D366; font-size:18px; font-weight: 600;">SORUN MU YAŞIYORSUNUZ ? <br>DESTEK HATLARIMIZDAN BİZE YAZIN !</p>
        </div>
        <div class="col-12 rounded-pill  d-flex justify-content-around" style="background-color: #25D366; width:100%; height:50px;  display: flex; align-items:center;">
            <a class="text-decoration-none btn btn-outline-success rounded-pill" style= "color:#fff; border-color: #fff;">
                +90 555 444 33 22
            </a>
            <a class="text-decoration-none btn btn-outline-success rounded-pill" style= "color:#fff; border-color: #fff;">
                +90 555 444 33 22
            </a>
            <a class="text-decoration-none btn btn-outline-success rounded-pill" style= "color:#fff; border-color: #fff;">
                +90 555 444 33 22
            </a>
            <a class="text-decoration-none btn btn-outline-success rounded-pill" style= "color:#fff; border-color: #fff;">
                +90 555 444 33 22
            </a>
        </div> 
    </div>
</div>

<div class="container visiblityPhone">
    <div class="row">
        <div class="col-12 ">
            <img class="ing-fluid center " src="/assets/img/icons8-whatsapp.svg" width="50px">
            <p class="text-center whatsappText" style="color:#25D366; font-size:18px; font-weight: 600;">SORUN MU YAŞIYORSUNUZ ? <br>DESTEK HATLARIMIZDAN BİZE YAZIN !</p>
        </div>
        <div class="col-xs-12 rounded-pill  d-flex justify-content-around flex-wrap  whatsappPhone" style="background-color: #25D366; width:100%; height:50px;  display: flex; align-items:center;">
            <a class="text-decoration-none btn btn-outline-success rounded-pill" style= "color:#fff; border-color: #fff;">
                +90 555 444 33 22
            </a>
            <a class="text-decoration-none btn btn-outline-success rounded-pill" style= "color:#fff; border-color: #fff;">
                +90 555 444 33 22
            </a>
            <a class="text-decoration-none btn btn-outline-success rounded-pill" style= "color:#fff; border-color: #fff;">
                +90 555 444 33 22
            </a>
            <a class="text-decoration-none btn btn-outline-success rounded-pill" style= "color:#fff; border-color: #fff;">
                +90 555 444 33 22
            </a>
        </div>
        
    </div>
</div>

