@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,900&display=swap');
*,body{
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
}
@media screen and (min-width:0px) and (max-width:421px){
      .listİtem_howLink {
        font-size: 12px !important;
      }
      .listİtem_howLink img {
        width: 15px !important;
        height: 15px !important;
      }
      .visiblity{
        visibility: hidden;
      }
      .visiblityPhone{
        visibility:visible !important;
        margin-top: 5px;
      }
      .whatsappText{
        font-size: 15px;
      }
      .whatsappPhone{
        height: 100px !important;
        font-size: 12px !important;
        white-space:nowrap !important;
      }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.categoryBanner{
  background-color: #D0D9F2;
  width: 100%;
  height: auto;
}

.visiblityPhone{
  visibility: hidden;
}
.colored{
  color:#3F3F40;
}
.listİtem_top2 {
  text-decoration: none !important;
  border: 0px;
}
.listİtem_top a{
  text-decoration: none !important;
  color: #7c7c7c !important;
}
.listİtem_top a:hover{
  color: #171717 !important;
}
.listİtem_top{
  font-size: 15px  !important;
  border: 0rem !important ;
}
.listİtem a{
  text-decoration: none !important;
  color: #7c7c7c !important;
}
.listİtem a:hover{
  color: #171717 !important;
}
.listİtem{
  font-size: 18px  !important;
  border: 0rem !important ;
  font-weight: 600;
}
.listİtem_end{
  font-size: 15px !important;
  border: 0rem !important ;
  
}

@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.container {
  position: relative;
  margin-top: 3%;
}
h1 {
  text-align: center;
  padding-bottom: 15px;
  font-family: Montserrat;
}
.control {
  list-style: none;
}
.control li {
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 12px 20px;
  border-radius: 50%;
  cursor: pointer;
}
.control li:hover {
  background: #000;
}
.control li.prev {
  left: 20px;
}
.control li.next {
  right: 20px;
}
.tns-nav {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.tns-nav button {
  height: 13px;
  width: 8px;
  background-color: #a5a5a5;
  border: none;
  margin-left: 7px;
  border-radius: 50%;
}
.tns-nav .tns-nav-active {
  background-color: black;
}
/* .scale{
  animation-name: scale;
  transform-origin: center
}
@keyframes scale{
  from {
    transform: rotate(90deg);
  }
  to{
    transform: rotate(0deg);
  }
} */
/* Youtube link */
.link {
  position: fixed;
  background-color: #d12322;
  padding: 23px 40px;
  right: 0;
  border-radius: 5px;
  top: 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.1s ease-in-out;
}

.link i {
  padding-left: 7px;
}

.link:hover {
  text-decoration: underline;
  background-color: black;
}

:root {
    --font1: 'Heebo', sans-serif;
    --font2: 'Fira Sans Extra Condensed', sans-serif;
    --font3: 'Roboto', sans-serif;

    --btnbg: #ffcc00;
    --btnfontcolor: rgb(61, 61, 61);
    --btnfontcolorhover: rgb(255, 255, 255);
    --btnbghover: #ffc116;
    --btnactivefs: rgb(241, 195, 46);


    --label-index: #960796;
    --danger-index: #5bc257;
/* PAGINATE */
    --link-color: #000;
    --link-color-hover: #fff;
    --bg-content-color: #ffcc00;

}


.card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  border: 0;
  border-radius: 1rem;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}


.card h5 {
  overflow: hidden;
  height: 55px;
  font-weight: 300;
  font-size: 1rem;
}

.card h5 a {
color: black;
text-decoration: none;
} 

.card-img-top {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  object-fit: contain;
  padding: 30px;
}

.card h2 {
  font-size: 1rem;
}


.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

/* Centered text */
.label-top {
  position: absolute;
  background-color: var(--label-index);
  color: #fff;
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: .7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
}

.top-right {
  position: absolute;
  top: 24px;
  left: 24px;

  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 900;
  background: #8bc34a;
  line-height: 90px;
  text-align: center;
  color: white;
}

.top-right span {
  display: inline-block;
  vertical-align: middle;
  /* line-height: normal; */
  /* padding: 0 25px; */
}

.aff-link {
  /* text-decoration: overline; */
  font-weight: 500;
}

.over-bg {
  background: rgba(53, 53, 53, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.0px);
  -webkit-backdrop-filter: blur(0.0px);
  border-radius: 10px;
}
.bold-btn {

  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 50px 5px 50px;
}
.box .btn {
  font-size: 1.5rem;
}

@media (max-width: 1025px) {
  .btn {
      padding: 5px 40px 5px 40px;
  }
}
@media (max-width: 250px) {
  .btn {
      padding: 5px 30px 5px 30px;
  }
}

/* START BUTTON */
.btn-warning {
  background: var(--btnbg);
  color: var(--btnfontcolor);
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
  border-radius: 100px;
}
.btn-warning:hover {
  background: var(--btnbghover);
  color: var(--btnfontcolorhover);
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
  background: var(--btnbghover);
  color: var(--btnfontcolorhover);
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-warning:active:focus {
  box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}
.btn-warning:active {
  background: var(--btnbghover);
  color: var(--btnfontcolorhover);
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.bg-success {
  font-size: 1rem;
  background-color: var(--btnbg)!important;
  color: var(--btnfontcolor)!important;
}
.bg-danger {
  font-size: 1rem;
}


.price-hp {
  font-size: 1rem;
  font-weight: 600;
  color: darkgray;
}

.amz-hp {
  font-size: .7rem;
  font-weight: 600;
  color: darkgray;
}

.fa-question-circle:before {
  /* content: "\f059"; */
  color: darkgray;
}

.fa-heart:before {
  color:crimson;
}
.fa-chevron-circle-right:before {
  color: darkgray;
}
.btnAdd{
  background-color: #fff !important;
  border: 1px solid #5bc257 !important;
  text-decoration: none !important;
  text-align: center;
  color: #111;
  font-size: 18px;
}
.btnAdd:hover{
  background-color: #5bc257 !important;
  color: #fff;
}

.listİtem_how{
  white-space: nowrap !important;
  border-color: #F22D1B !important;
  line-height: 50px;
  border-radius: 30px !important;
  color:#3F3F40;
}
.listİtem_how:hover{
  background-color: #e94f41 !important;
  border-color: #fff !important;
}
.listİtem_howLink{
  color:#3F3F40 !important;
  font-size: 15px ;

}
.listİtem_howLink:hover{
  color:#fff !important;
  background-color: #e94f41;
}
.listİtem_howLink img:hover{
  color:#fff !important;
  background-color: #e94f41;
}

.color img{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
  }
  
  .color img:hover{
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
  }






