<head>
  <link rel="stylesheet" href="/assets/main.css">
</head>
<div class="container-fluid w-100 border-top my-4 d-flex justify-content-around">
    <footer class="py-5"  >
      <div class="row" >
        <div class="col-xl-3 col-md-3 mb-3"> 
          <ul class="nav flex-column">
            <li class="nav-item mb-2 listİtem">
                <img class="img-fluid " src="/assets/img/logo.png">
            </li>
            <li class="nav-item mb-2 listİtem center">
                <img class="img-fluid w-25 " src="/assets/img/qr-code.svg" alt="" />
            </li>
          </ul>
        </div>
  
        <div class="col-xl-3 col-md-3 mb-3">
          <h5 class="colored">Kurumsal</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 listİtem"><a href="/application/views/site/hakkimizda.html" class="nav-link p-0 text-muted">Hakkımızda</a></li>
            <li class="nav-item mb-2 listİtem"><a href="/application/views/site/sozlesme.html" class="nav-link p-0 text-muted">Satış Sözleşmemiz</a></li>
            <li class="nav-item mb-2 listİtem"><a href="/application/views/site/sss.html" class="nav-link p-0 text-muted">Sıkça Sorunlan Sorular</a></li>
            <li class="nav-item mb-2 listİtem"><a href="/application/views/site/iletisim.html" class="nav-link p-0 text-muted">İletişim</a></li>
          </ul>
        </div>
  
        <div class="col-xl-3 col-md-3 mb-3">
          <h5 class="colored" style="white-space: nowrap;">Mobil Uygulamalar</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 listİtem">
                <a type="button" class="nav-link p-0 text-muted btn btn-outline-dark">
                    <img class="img-fluid" src="/assets/img/apple.svg">
                    App Store</a>
            </li>
            <li class="nav-item mb-2 listİtem">
                <a type="button" class="nav-link p-0 text-muted btn btn-outline-dark">
                    <img class="img-fluid" src="/assets/img/google-play.svg">
                    Play  Store</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-3 col-md-3 mb-3">
            <h5 class="colored">İletişim</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2 listİtem">
                  <a type="" class="nav-link p-0">
                    <img class="img-fluid" src="/assets/img/geo-alt.svg">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <b>Obcaecati, libero</b>.</p>
                 </a>
              </li>
              <li class="nav-item mb-2 listİtem">
                  <a type="" class="nav-link p-0">
                      <img class="img-fluid" src="/assets/img/telephone.svg">
                     0 (224) 457 22 11</a>
              </li>
              <li class="nav-item mb-2 listİtem">
                  <a type="" class="nav-link p-0">
                      <img class="img-fluid" src="/assets/img/whatsapp.svg">
                      0 (555) 444 36 36</a>
              </li>
            </ul>
              
      <div class="d-flex justify-content-around flex-column flex-sm-row justify-content-between center">
        <ul class="list-unstyled d-flex">
          <li class="ms-4">
            <a class="link-dark" href="#">
                <img class="img-fluid" src="/assets/img/icons8-facebook.svg" width="25px" height="25px" alt="" />
          </a>
        </li>
          <li class="ms-4">
             <a class="link-dark" href="#">
                <img class="img-fluid" src="/assets/img/icons8-instagram.svg" width="25px" height="25px" alt="" />
          </a>
          </li>
          <li class="ms-4">
             <a class="link-dark" href="#">
                <img class="img-fluid" src="/assets/img/icons8-linkedin.svg" width="25px" height="25px" alt="" />
          </a>
          </li>
          <li class="ms-4">
            <a class="link-dark" href="#">
               <img class="img-fluid" src="/assets/img/icons8-twitter.svg" width="25px" height="25px" alt="" />
         </a>
         </li>
         <li class="ms-4">
            <a class="link-dark" href="#">
               <img class="img-fluid" src="/assets/img/icons8-youtube.svg" width="25px" height="25px" alt="" />
         </a>
         </li>
        </ul>
      </div>
          </div>
      </div>

    </footer>
  </div>